# Dependency directories
node_modules/

# dotenv environment variables file
.env

# The directory we transpile src to with Babel
dist

# Optional eslint cache
.eslintcache

# Logs that may pop up
yarn-debug.log*
yarn-error.log*

# Ignore the zipped files created by the 'pack' command
*.tgz

# Some system things
.DS_Store